.heading{
    margin: 0px;
}
.imgcontainer{
    display: flex;
    width: 100vw;
}
.imgcontainer img{
    width: 50%;
    height: 40vh;
    object-fit: cover;
}
.order{
    display: flex;
    width:100vw;
    gap: 10px;
    height: 60vh;
}
.order img{
    width: 25vw;
    height: 40vh;
}
th{
    border: 1px solid black;
    width: 25vw;
    height: 5vh;
    padding: 5px;
}
td{
    border: 1px solid black;
    width: 25vw;
    height: 5vh;
    padding: 5px;
}
table{
    margin-top: 20px;
    margin-bottom: 20px;
}
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 10vh;
    color: white;
    background-color: black;
    border-radius: 10px;
}